.form-control {
  margin: 8rem 42rem;
  width: 70%;
  max-width: 40rem;
  border-radius: 18px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}
.form-control {
  border: none !important;
}
.form-control input,
.form-control textarea {
  width: 10%;
  font: inherit;
  padding: 0.4rem 0.5rem;
  border-radius: 6px;
  color: white;
  border: 1px solid #ccc;
  background-color: #dc3545;
  margin-top: 1rem;
}

.form-control a {
  font: inherit;
  background-color: green;
  color: white;
  border: 1px solid white;
  padding: 0.6rem 0.5rem;
  border-radius: 9px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 1rem;
}

.form-control a:hover,
.form-control a:active {
  background-color: blueviolet;
  border-color: white;
}
