{% extends 'shop/base/base.html' %}
{% load static %}

{% block title %}
  Items
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'shop/items.css' %}" />
{% endblock %}

{% block content %}
  <h3 class="text-center">Items In this Store</h3>
  <table class="table center w-50">
    <thead class="table-dark">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Fine</th>
        <th scope="col">Purity</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="
      margin-left: 84rem;">Add Item</button>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.type }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.fine }}</td>
          <td>{{ item.purity }}</td>
          <td><a class="js-edit btn btn-sm btn-primary edit-passenger" data-toggle="modal"
            data-target="#editform"
            data-url="#"><i
             class="js-edit-icon tio-edit"></i>Edit</a>
     <td><a class="js-edit btn btn-sm btn-danger" href="#">
         <i class="js-delete-icon tio-delete"></i>Delete</a></td>
     </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section id="comment-form">
          <form action="{% url 'items' %}" method="POST">
            {% csrf_token %}
            {% for form in item_form %}
            <div class="form-control {% if form.errors %}invalid{% endif%}">
                {{ form.label_tag }}
                {{ form }}
                {{ form.errors }}
            </div>
            {% endfor %}
            {% comment %} <button>Save</button> {% endcomment %}
          </form>
        
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" value="save">Save</button>
      </div>
    </div>
  </div>
</div>





 
{% endblock %}
