{% extends 'shop/base/base.html' %}
{% load static %}

{% block title %}
  Items
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'shop/items.css' %}" />
{% endblock %}

{% block content %}
  <h3 class="text-center">Items In this Store</h3>
  <table class="table center w-50">
    <thead class="table-dark">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Fine</th>
        <th scope="col">Purity</th>
        <th scope="col">Qr Code</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        
      </tr>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="
      margin-left: 74.5rem;">Add Item</button>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.type }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.fine }}</td>
          <td>{{ item.purity }}</td>
          {% if item.qr_code %}
          <td><img src="{{ item.qr_code.url}}"  alt="{{ item.qr_code }}" style="width:50px;height:30px;"></td>
          {% endif %}

          <td><a class="js-edit btn btn-sm btn-primary" href="{% url 'item_update' item.id %}">Edit</a></td>
          {% comment %} <td><a class="js-edit btn btn-sm btn-primary"  href="{% url 'item_update' item.id %}"  data-bs-toggle="modal" data-bs-target="#editform">Edit</a> {% endcomment %}
     <td><a class="js-edit btn btn-sm btn-danger" href="{% url 'item_delete' item.id %}">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

 <!-- Add Item Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Items</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form id="add" action="{% url 'items' %}" method="POST">
            {% csrf_token %}
            {% for form in item_form %}
            <div class="form-control {% if form.errors %}invalid{% endif %}">
                {{ form.label_tag }}
                {{ form }}
                {{ form.errors }}
            </div>
            {% endfor %}
            {% if item.qr_code %}
        <img src="{{ item.qr_code.url}}" alt="{{ item.qr_code }}">
            {% endif %}
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-left: 11rem">Close</button>
            <button type="submit" class="btn btn-outline-primary" value="save">Save</button>
            </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}
