{% extends 'shop/base/base.html' %}
{% load static %}

{% block title %}
  Reports
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'shop/reports.css' %}" />
{% endblock %}

{% block content %}
  <h3 class="text-center">Reports of this Store</h3>
  <table class="table center w-50">
    <thead class="table-dark">
      <tr>
        <th scope="col">Vendor</th>
        <th scope="col">Items</th>
        <th scope="col">StockIn</th>
        <th scope="col">StockOut</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Pdf</th>
        
      </tr>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="
      margin-left: 73rem;">Add Report</button>
    </thead>
    <tbody>
      {% for report in reports %}
        <tr>
          <td>{{ report.vendor }}</td>
          <td>{{ report.items }}</td>
          <td>{{ report.stockin }}</td>
          <td>{{ report.stockout }}</td>

          <td><a class="js-edit btn btn-sm btn-primary" href="{% url 'report_update' report.id %}">Edit</a></td>
          {% comment %} <td><a class="js-edit btn btn-sm btn-primary"  href="{% url 'item_update' item.id %}"  data-bs-toggle="modal" data-bs-target="#editform">Edit</a> {% endcomment %}
     <td><a class="js-edit btn btn-sm btn-danger" href="{% url 'report_delete' report.id %}">Delete</a></td>
     <td><a class="js-edit btn btn-sm btn-danger" href="{% url 'pdf' report.id %}">Generate Pdf</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

 <!-- Add Item Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Report</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form id="add" action="{% url 'reports' %}" method="POST">
            {% csrf_token %}
            {% for form in item_form %}
            <div class="form-control {% if form.errors %}invalid{% endif %}">
                {{ form.label_tag }}
                {{ form }}
                {{ form.errors }}
            </div>
            {%endfor%}
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-left: 11rem">Close</button>
            <button type="submit" class="btn btn-outline-primary" value="save">Save</button>
            </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}