{% extends 'shop/base/base.html' %}


{% load static %}

{% block title %}
  StockOut
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'shop/items.css'%}" />
{% endblock %}

{% block content %}
  <h1 class="head">StockOut From this Store</h1>
  <table class="table w-50">
    <thead class="table-dark">
      <tr>
        <th scope="col">Vendor</th>
        <th scope="col">Items</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Print</th>
        <th scope="col"><button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Add StockOut</button></th>
        
      </tr>
      
    </thead>
    <tbody>
      {% for stock in stockout %}
        <tr>
          <td>{{ stock.vendor }}</td>
          <td>{{ stock.items }}</td>
          <td><a class="js-edit btn btn-sm btn-primary" href="{% url 'stock_update' stock.id %}">Edit</a></td>
          <td><a class="js-edit btn btn-sm btn-danger" href="{% url 'stockout_delete' stock.id %}">Delete</a></td>
          <td><a href="{% url 'slip_out' stock.id %}">Print Slip</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


<!-- Add StockIn Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add StockOut</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section id="comment-form">
          <form id="my-form" action="{% url 'stockout' %}" method="POST" novalidate>
            {% csrf_token %}
            {% for form in stockout_form %}
            <div class="form-control {% if form.errors %}invalid{% endif %}">
                {{ form.label_tag }}
                {{ form }}
                {{ form.errors }}
            </div>
            {% endfor %}
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-left: 11rem">Close</button>
            <button type="submit" class="btn btn-outline-primary" value="save">Save</button>
            </form>
        </section>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block script %}

<script>
  $(document).on('hidden.bs.modal', function () {
    $('.editPassenger').modal('hide')
    $('#my-form').trigger('reset')
    $('div .field_error').remove()
    $('.form-control').removeClass('is-invalid')
})

  $(function() {
    $(document).on('submit','#my-form',function(event) {
      event.preventDefault();  // Prevent the form from submitting normally
     
    
      // Send an AJAX request to the server
      $.ajax({
        type: 'POST',
        url: '{% url "stockout" %}',  // Replace with the actual URL of your Django view
        data: $(this).serialize(),  // Serialize the form data
        beforeSend: function(){
        },
        success: function(response) {
          window.location.reload()
        }, error: function(error){
          if(error.status === 400){
            console.log(error)
            $.each(error.responseJSON.errors, function (key, value) {
              var name = $(`[name=${key}]`)
              var fielderror = value[0]
              if ( name.parent().children("div").is( ".field_error" )) {
                  return false;
              }else{
                  name.parent().children(':text, input[type=number], #id_items, #id_vendor').addClass('is-invalid').parent().append(`<div class='text-danger field_error '>* ${fielderror}</div>`);                
              }
            });
          }
          else {
                        alert("Internal 500 server error.")
                    }
        }
      });
    });
  });

</script>


{% endblock %}