{% extends 'shop/base/base.html' %}
{% load static %}

{% block title %}
  Stockout
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'shop/stockout.css'%}" />
{% endblock %}

{% block content %}
  <h3 class="text-center">StockOut In this Store</h3>
  <table class="table center w-50">
    <thead class="table-dark">
      <tr>
        <th scope="col">Vendor</th>
        <th scope="col">Items</th>
        
      </tr>
    </thead>
    <tbody>
      {% for stock in stockout %}
        <tr>
          <td>{{ stock.vendor }}</td>
          <td><a href={% url "items" %}>{{ stock.items }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}